body {
    background-color: rgb(219, 227, 228);
}

#titulo {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#header-background {
    padding-bottom: 10px;
    margin: 0px;
    
    background-color: black;
}

#header-content {

    width: 1571px;
    text-align: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
    

}
#header-content h2 {

    font-size: 40px;
    color: white;
    

}
#habilidade-align{

    text-align: center;
}
.ul-habilidades{
    padding-right: 40px;
    display: inline-block;
}
#header-text {

    text-align: center;
    margin-bottom: 100px;

}

#header-text h1 {
    padding: 20px;
    color: burlywood;
    margin-top: -5px;
}

#h2_habilidades {

    font-size: 30px;
}

.format_img {

    width: 300px;
    border-radius: 120px;
}

.text_title {
    text-align: center;
    font-size: 20px;
    background-color: rgb(161, 165, 163);
}
#hobby-content{
    
    background-color: rgb(163, 221, 163);

}
.hobbyes-align{

    text-align: center;
    display: inline-block;
    width: 33%;
}
.minha-class {

    font-size: 20px;
    color: wheat;
}

.p2 {
    background-color: antiquewhite;
    padding-bottom: 10px;
    font-size: 20px;
}

.li{
    margin-right: 30px;
    padding: 5px;
    display: inline-block;

}
#contact-content{ 
    display: inline;
    text-align: center;

    
}

.contact-align{
  
    
    display:inline-block;
    width: 33%;
}
#img-contact{

    display: inline;
    align-items: rigth;
}