body {
    background-color: rgb(219, 227, 228);
}

#h1 {
    color: white;
    text-align: center;
}

p {
    text-align: center;
}

#titulo {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.minha-class {

    font-size: 20px;
    color: royalblue;
}

.p2 {
    background-color: antiquewhite;
}

#header {

    background-color: black;
    background-position-x: 0px 0px 0px 50px;
}


#h2_sobre {
    color: white;
    font-size: 25px;
    text-align: center;
}

#h2_habilidades {
    color: black;
    font-size: 25px;
    text-align: center;
}



#contatos {

    text-align: center;
    font-size: 20px;
}

.ul {

    
    color: aliceblue;

}

#menu {
    position: relative;
    margin: 10px 10px 20px;
    color: white;
    text-align: left;
    padding: 30px 0 0 50px;
}

.format_fotos {

    border-radius: 110px;
    width: 400px;
}

.button {
    text-decoration: none;
    background-color: green;
}

